/* global styles */
:root {
    --primary-color: rgb(10, 65, 102);
    --primary-color-light: rgba(10, 65, 102, 0.1);
    --secondary-color: rgb(229, 39, 60);
    --secondary-color-light: rgb(229, 39, 60, 0.1);
    --text-color: #333;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.nav-link.active {
    color: var(--secondary-color);
}